<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ports</key>
	<dict>
		<key>1</key>
		<string>Root</string>
		<key>2</key>
		<string>Back</string>
		<key>3</key>
		<string>Dismiss</string>
		<key>201</key>
		<string>List</string>
		<key>202</key>
		<string>Detail</string>
		<key>401</key>
		<string>Add</string>
		<key>402</key>
		<string>Edit</string>
		<key>403</key>
		<string>Delete</string>
		<key>801</key>
		<string>Picker</string>
		<key>802</key>
		<string>Editor</string>
		<key>803</key>
		<string>Share</string>
	</dict>
	<key>Codes</key>
	<dict>
		<key>PBTaleListViewController</key>
		<string>T1</string>
		<key>PBTaleDetailViewController</key>
		<string>T2</string>
		<key>PBWordSelectorViewController</key>
		<string>M1</string>
		<key>PBDescriptionEditorViewController</key>
		<string>M2</string>
	</dict>
	<key>Decodes</key>
	<dict>
		<key>T1</key>
		<dict>
			<key>storyboard</key>
			<string>PBTale</string>
			<key>id</key>
			<string>TaleList</string>
		</dict>
		<key>T2</key>
		<dict>
			<key>storyboard</key>
			<string>PBTale</string>
			<key>id</key>
			<string>TaleDetail</string>
		</dict>
		<key>M1</key>
		<dict>
			<key>storyboard</key>
			<string>PBTale</string>
			<key>id</key>
			<string>WordSelector</string>
		</dict>
		<key>M2</key>
		<dict>
			<key>storyboard</key>
			<string>PBTale</string>
			<key>id</key>
			<string>DescriptionEditor</string>
		</dict>
		<key>O1</key>
		<dict>
			<key>selector</key>
			<string>buildELCImagePickerController</string>
		</dict>
		<key>O2</key>
		<dict>
			<key>selector</key>
			<string></string>
		</dict>
	</dict>
	<key>Destinations</key>
	<dict>
		<key>T1-Picker</key>
		<dict>
			<key>target</key>
			<string>O1</string>
			<key>selector</key>
			<string>defaultPresentFrom:to:</string>
		</dict>
		<key>T1-Detail</key>
		<dict>
			<key>target</key>
			<string>T2</string>
			<key>selector</key>
			<string>defaultPushFrom:to:</string>
		</dict>
		<key>T2-Picker</key>
		<dict>
			<key>target</key>
			<string>M1</string>
			<key>selector</key>
			<string>overlayPresentFrom:to:</string>
		</dict>
		<key>T2-Editor</key>
		<dict>
			<key>target</key>
			<string>M2</string>
			<key>selector</key>
			<string>overlayPresentFrom:to:</string>
		</dict>
		<key>T2-Share</key>
		<dict>
			<key>target</key>
			<string>O2</string>
			<key>selector</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
